[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
keysmanager = {editable = true,path = "."}
pytest = "*"
pytest-mock = "*"
pytest-sugar = "*"

[packages]
beautifulsoup4 = "*"
Jinja2 = "*"
python-box = "*"
reusables = "*"

[requires]
python_version = "3.8"
